{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<!-- view vendor detail -->

<!--<div class="modal fade" id="viewprModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--<div class="modal-dialog modal-dialog-centered" role="document">-->
<!--  <div class="modal-content">-->
    <div class="header">
      <h5 class="title">View Blog</h5>
<!--      <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--      </button>-->
    </div>
    <div class="post">
      <form class="form-row">
      &nbsp<ul class="viewmodalul">
          <li>Image : <img src="/media/{{ post.image }}"  width="250" height="250"class="wtviewprimg"></li>
            <li>Title : {{ post.title }}</li>
            <li>Description : {{ post.description }} </li>
            <li>Category : {{ post.blogcategory }}</li>
          <li>Slug : {{ post.slug }}</li>
      </ul>
      <div class="form-group col-md-12">
        <div class="wt-modal-btn">
        <button type="button" class="wtclosebtn"><a class="wtclosebtn" href="{% url 'blog_list' %}" data-dismiss="modal">Back</a></button>
      </div>
      </div>
    </form>
    </div>
  </div>
</div>
</div>

{% endblock %}