{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}


<section>
       <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="wt-body-wrap">
              <div class="row">
               <div class="col-md-6">
                <h3 class="wt-toptitle"><i class="fas fa-users wttitlewticon"></i>Edit Blog</h3>
               </div>
               <div class="col-md-6">
                 <a href="{% url 'blog_list' %}" class="wtlinkbtn">All Blogs</a>
               </div>
              </div>
                <form enctype="multipart/form-data" method="post">
           {% csrf_token %}
           {{ form.as_p }}
<!--        <div class="form-group col-md-12">-->
<!--          <label>Upload Image</label>-->
<!--          <input type="file" name="image" class="form-control" placeholder="">-->
<!--        </div>-->
<!--        <div class="form-group col-md-12">-->
<!--          <label>Title</label>-->
<!--          <input type="text" name="title" class="form-control" placeholder="">-->
<!--        </div>-->
<!--           <div class="form-group col-md-12">-->
<!--               <label>Category</label>-->
<!--               <select name="blogcategory" class="custom-select">-->
<!--                   {% for i in blogcategorylistform %}-->
<!--                    <option>{{i.blogcategoryname}}</option>-->
<!--                   {% endfor %}-->

<!--               </select>-->
<!--           </div>-->
<!--                   <div class="form-group col-md-12">-->
<!--          <label>Description</label>-->
<!--               <textarea type="text" class="form-control" name="description" placeholder=""></textarea>-->
<!--        </div>-->
<!--         <div class="form-group col-md-12">-->
<!--          <div class="wt-modal-btn">-->
          <button type="button" class="wtclosebtn" data-dismiss="modal">Close</button>
          <button type="submit" class="wtmodalsubmitbtn">Submit</button>
<!--        </div>-->
<!--        </div>-->
       </form>


            </div>
          </div>
        </div>
       </div>
     </section>



{% endblock %}