{% extends 'base.html' %} {% block content %} {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="wt-body-wrap">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="wt-toptitle"><i class="fas fa-users wttitlewticon"></i>Login here</h3>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'signup' %}"><button type="submit" class="wtmodalsubmitbtn">Home</button></a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <form method="post" class="form-row" action="{% url 'login' %}">
                                {% csrf_token %}
                                {{ form.as_p }}
<!--                                <div class="form-group">-->
<!--                                    <input type="text" class="form-control" name="email" placeholder="email" />-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <input type="password" class="form-control" name="password" placeholder="password" />-->
<!--                                </div>-->
                                <button class="wtmodalsubmitbtn" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- main section close-->

{% endblock %}
