{% extends 'base.html' %}
{% load static %}

{% block content %}


<section>
       <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="wt-body-wrap">
              <div class="row">
               <div class="col-md-6">
                <h3 class="wt-toptitle"><i class="fas fa-users wttitlewticon"></i>Create An Account</h3>
               </div>
<!--               <div class="col-md-6">-->
<!--                <a href="{% url 'attributeslist' %}" class="wtadduser">Attributes List</a>-->
<!--               </div>-->
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                    <form enctype="multipart/form-data" method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                         <div class="form-group col-md-6">
                  <label>Image</label>
                  <input type="file" class="form-control" placeholder=""  name="image">
                </div>
                      <div class="form-group col-md-6">
                  <label>Phone No</label>
                  <input type="text" class="form-control" placeholder=""  name="phone">
                </div>
                    <div class="form-group col-md-6">
                  <label>Name</label>
                  <input type="text"  class="form-control" placeholder="" name="username" >
                </div>
                <div class="form-group col-md-6">
                  <label>Email</label>
                 <input type="text"  class="form-control" placeholder="" name="email" >
                </div>
                        <div class="form-group col-md-6">
                  <label>Password</label>
                 <input type="text"  class="form-control" placeholder="" name="password1" >
                </div>
                        <div class="form-group col-md-6">
                  <label>Re-enter Password</label>
                 <input type="text"  class="form-control" placeholder="" name="password2" >
                </div>
              <input type="hiddin" name="role" value="4" class="form-control hiddeninput" id="id_role" placeholder="customer" />
                 <div class="form-group col-md-12">
                  <div class="wt-modal-btn">
                  <button class="wtmodalsubmitbtn" type="submit" >Submit</button>
                      <button class="wtmodalsubmitbtn" type="submit"><a  class="wtmodalsubmitbtn" href="{% url 'login' %}">Login</a></button>
                     <button class="wtmodalsubmitbtn" type="submit" ><a  class="wtmodalsubmitbtn" href="{% url 'home' %}">Back</a></button>
                </div>
                </div>
               </form>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
     </section>

{% endblock %}
